apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: https://prometheus:${PROMETHEUS_PORT}
    isDefault: true
    basicAuth: true
    basicAuthUser: $PROMETHEUS_ADMIN_USER
    jsonData:
      tlsSkipVerify: true
    secureJsonData:
      basicAuthPassword: $PROMETHEUS_ADMIN_PASSWORD
